.DS_Store
node_modules
/build
/libs/nimble
/dist
/temp
/src/server
/src/register
/src/node


*.nims
*.nim
.env.local
.env.*.local
package-lock.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode/
